#include "charrys.dtsi"

   &default_transform {
       col-offset = <7>;
   };

/{

       led_strip: led_strip {
           compatible = "worldsemi,ws2812-pwm";
           chain-length = <20>;
           pwm-device = <&pwm0>;
           color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
       };

};

